#main-cont {
	position: relative;
	margin-top: 2rem;
	padding: 2rem;
	top: 0;
	left: 50%;
	width: 100%;
	max-width: 550px;
	height: fit-content;
	transform: translateX(-50%);
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 5px #00000077;
}

h1 {
	margin-bottom: 2rem;
	font-size: 2rem;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: underline;
}

.form-group {
	margin-block: 0.9rem;
}

button {
	margin-top: 2rem;
}
